<div class="container">
  <h1>Stupid Coach</h1>
  <p class="you">You: <%= @ask %></p>
  <p class="coach">Your coach: <%=  @answer %></p>
  <%= link_to "Ask a new question", "ask" %>
</div>
<img src="http://paulspacey.com/wp-content/uploads/2013/11/soccer-coach-funny1.jpg" alt="stupid coach" width="480px">

